@import url(../css/reset_global.css);
@import url(../css/universal_styles.css);
@import url(../css/components/header.css);
@import url(../css/home_style.css);
@import url(../css/destination_style.css);
@import url(../css/crew_style.css);
@import url(../css/technologies_style.css);

.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background: no-repeat center fixed var(--marineblue);
  background-size: cover;
}

.homeBackground {
  background-image: url(../home/background-home-desktop.jpg);
}

.destinationBackground {
  background-image: url(../destination/background-destination-desktop.jpg);
}

.crewBackground {
  background-image: url(../crew/background-crew-desktop.jpg);
}

.technologyBackground {
  background-image: url(../technology/background-technology-desktop.jpg);
}

@media screen and (max-width: 770px) {
.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background: no-repeat center fixed var(--marineblue);
  background-size: cover;
}

  .homeBackground {
  background-image: url(../home/background-home-tablet.jpg);
}

.destinationBackground {
  background-image: url(../destination/background-destination-tablet.jpg);
}

.crewBackground {
  background-image: url(../crew/background-crew-tablet.jpg);
}

.technologyBackground {
  background-image: url(../technology/background-technology-tablet.jpg);
}
}