@import url(../css/reset_global.css);
@import url(../css/universal_styles.css);
@import url(../css/components/header.css);

@import url(../css/destination_style.css);
@import url(../css/crew_style.css);
@import url(../css/technologies_style.css);

.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background: no-repeat center fixed var(--marineblue);
  background-size: cover;
}

.homeBackground {
  background-image: url(../home/background-home-desktop.jpg);
}

.destinationBackground {
  background-image: url(../destination/background-destination-desktop.jpg);
}

.crewBackground {
  background-image: url(../crew/background-crew-desktop.jpg);
}

.technologyBackground {
  background-image: url(../technology/background-technology-desktop.jpg);
}

/* #homeTab {
  height: 70vh;
  margin: auto;
} */

#homeTab {
  margin: 3rem auto;
}

.u_mainContainer .u_mainInfo #mainIntroduction {
    color: var(--clearblue);
}

#mainTitle {
  font-size: 150px;
}

.u_mainContainer #exploreButton {
  background-color: #fff;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: black;
  font-family: "Bellefair", serif;
  font-size: 28px;
  padding: 4em 2em;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

/* .u_mainContainer #exploreButton a {
  background-color: #fff;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: black;
  font-family: "Bellefair", serif;
  font-size: 28px;
} */

.u_mainContainer #exploreButton:hover {
  outline: 75px solid rgb(30, 31, 43);
}
