#componentsContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 75vw;
  height: 75vh;
  margin: auto;
}

.u_mainContainer {
  margin-top: 2em;
}

.u_contentContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 2em;
}

.u_navBar ul {
    display: flex;
    justify-content: flex-start;
}

.u_navItens {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    cursor: pointer;
}

.u_introduction {
  margin-top: 2rem;
  letter-spacing: 4.75px;
  font-size: 28px;
  text-transform: uppercase;
}

.u_introduction .u_numberPage {
    font-weight: bolder;
    color: gray;
    margin-right: 10px;
}

.u_titles {
  font-size: 56px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  margin: 1rem 0;
  width: 600px;
}

.u_description {
  color: var(--clearblue);
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: regular;
  line-height: 1.8em;
  width: 450px;
}

.u_images {
  max-width: 100%;
  max-height: 110%;
}